[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/riazzz
[access "refs/for/refs/*"]
	read = group user/riazzz
	push = group user/riazzz
	label-Code-Review = -2..+2 group user/riazzz
	label-Verified = -1..+1 group user/riazzz
	rebase = group user/riazzz
	removeReviewer = group user/riazzz
	submit = group user/riazzz
[access "refs/heads/*"]
	read = group user/riazzz
	create = group user/riazzz
	push = +force group user/riazzz
	pushMerge = group user/riazzz
[access "refs/tags/*"]
	push = +force group user/riazzz
	pushTag = group user/riazzz
	pushSignedTag = group user/riazzz
